.btn {
  border: 0px solid;
  background: transparent;
  padding: 1rem;
  box-shadow: $sm-shadow;
  text-transform: uppercase;
}

.btn__login {
  color: #FFF;
  background: $secondary;
}

.btn__ripple {
  background-position: center;
  transition: background 0.8s;
}

.btn__ripple:hover {
  background: $p-dark radial-gradient(circle, transparent 1%, $p-dark 1%) center/15000%;
}

.btn__ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}

.fab {
  position: absolute;
  display: inline-flex;
  align-items: center;
  flex: 0 0 auto;
  font-size: 3rem;
  font-weight: 500;
  justify-content: center;
  text-transform: uppercase;
  text-decoration: none;
  user-select: none;
  outline: 0;
  width: 56px;
  height: 56px;
  background-color: $secondary;
  border-radius: 50%;
  margin-top: 1.25rem;
  right: 7%;
  box-shadow: $sm-shadow;
}

.fab__content {
  display: flex;
  align-items: center;
  border-radius: inherit;
  color: inherit;
  flex: 1 1 auto;
  justify-content: center;
  position: relative;
  white-space: nowrap;
  width: inherit;
}

.fab-link {
  text-decoration: none;
  color: #FFF;
}