.fab {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 56px;
  height: 56px;
  background-color: $secondary;
  border-radius: 50%;
  margin-top: -.25rem;
  right: 7%;
}

.fab--icon {
  color: white
}