* {
  box-sizing: border-box;
}

body {
  font-family: $primary-font, Helvetica, Arial, sans-serif;
  color: $dark-grey;
  // background: #F7F7F7;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}